html,
body {
  margin: 0;
  height: 100%;
}
body {
  background-color: #f5f6f7;
  color: #232632ff;
  font-family: "Ubuntu Sans";
  font-size: 12pt;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  }
main {
  max-width: 100%;
  width: 100%;
}  
img {
  max-width: 100%;
  height: auto;
}
.logo {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

a {
  color: #427aa1;
  font-size: 100%;
}
.header {
    display: block;
    width: 100%;
}
h1 {
    font-family: Bebas Neue;
    text-decoration: uppercase;
    background-color: #232632ff;
    color: #ebf2fa;
    font-size: 180%;
    line-height: 180%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
}
h2 {
  font-family: Bebas Neue;
  text-decoration: uppercase;
  font-size: 140%;
  color: #427aa1;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
h3 {
  font-family: Bebas Neue;
  text-decoration: uppercase;
  color: #a5be00;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
h4 {
  color: #232632ff;
}
.hero {
  background-image: url(../hero-gea-yurt.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 800px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.hero h1 {
    font-family: Bebas Neue;
    text-decoration: uppercase;
    background-color:transparent;
    color: white;
    -webkit-text-stroke: 1px rgb(126, 128, 134);
    font-size: 140%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #232632ff;
    font-size: 16pt;
    font-family: Oswald;
}
.menu a {
  color: #232632ff;
  font-size: 16pt;
  font-family: Oswald;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.menu a:visited {
    color: #232632ff;
    font-size: 16pt;
    font-family: Oswald;
    text-decoration: none;
}
.menu a:hover {
  color: #232632ff;
  font-size: 16pt;
  font-family: Oswald;
  text-decoration: underline;
}
.menu a:active {
  color: #232632ff;
  font-size: 16pt;
  font-family: Oswald;
  text-decoration: underline;
}
.social {
  display: flex;
  justify-content: center;
}
.regular {
  line-height: 1.2;
  font-size: 12pt;
  margin: 20px;
}
.splide {
  margin-bottom: 80px;
  max-width: auto;
}
.icons, .icons-cat {
  display: block;
  font-size: 100%;
  max-width: 90%;
  justify-content: center;
  margin: 20px;
}
.icons img{
  position: relative;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}
.icons-cat img{
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.material {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 200px;
}
.material img {
    position: inherit;
    max-width: 250px;
    max-height: 250px;
    margin: 20px;
    
  }
.importante {
  background-color: #65743a;
  font-size: 14pt;
  color: white;
  padding-left: 10%;
  padding-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.importante h2 {
  font-size: 160%;
  background-color: none;
  color: #ebf2fa;
  text-align: left;
}

.cta {
  background-color: #ebf2fa;
  color: #232632;
  margin: 30px;
  padding: 50px;
  font-size: 110%;
  line-height: 150%;
  text-align: left;
  max-width: 100%;
}
.cta h2 {
  font-family: Bebas Neue;
  text-decoration: uppercase;
  font-size: 140%;
  color: #427aa1;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;

}
.ctatext p {
  font-size: 100%;
  line-height: 1.4;
  text-align: left;
  max-width: 100%;
  margin-bottom: 100px;
}
.ctabutton {
  display: inline-block;
  font-size: 110%;
  text-decoration: uppercase;
  background-color: #A5BE00;
  color: #ebf2fa;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}
.ctabutton2 {
  display: inline-block;
  font-size: 110%;
  text-decoration: uppercase;
  background-color: #427AA1;
  color: #ebf2fa;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}
.ctabutton:hover, .ctabutton2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.ctabutton a {
  color: #ebf2fa;
  text-decoration: none;
}
.ctabutton2 a {
  color: #ebf2fa;
  text-decoration: none;
}
.ctabutton a:hover {
  color: #ebf2fa;
  text-decoration: underline;
}
.ctabutton2 a:hover {
  color: #ebf2fa;
  text-decoration: underline;
}
.services {
  display: flex;
  justify-content: flex-start;
}
.ser {
  margin: 5px 20px;
}
.descr {
  color: #8e8a94;
  text-transform: uppercase;
  font-size: 80%;
}
.descr a:link, a:hover, a:visited {
  text-decoration: none;
  color: #65743A;
  font-size: 100%;
}
.projects img {
  display: inline-flex;
  justify-content: center;
  max-width: 200px;
  margin: 0px;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
  font-size: 12pt;
  text-align: center;
  background-color: #232632ff;
  color: white;
  padding-left: 30px;
  padding-right: auto;
  padding-top: 20px;
  padding-bottom: 40px;
}
.footerlist {
  display: block;
  text-align: left;
  font-size: 12pt;
  text-align: center;
  background-color: #232632ff;
  color: white; 
  margin: 0%;
  padding: 0%;
}
.footerlist ul {
  list-style-type: none;
}